
.myScill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: rgba(145,219,255,0.64);*/
    background-color: white;
    align-items: center;
    border-radius: 4px;
    width: 230px;
    flex-wrap: wrap;
    margin: 10px;
    transition: 300ms;
}
.myScillIcon{
    position: relative;
    width: inherit;
    height: 60px;
}

.myScillHeader{
    letter-spacing: 5px;
    font-size: 20px;
}

.myScill:hover{
    box-shadow: 6px 7px 9px -3px rgba(34, 60, 80, 0.21);
    transform: scale(1.05, 1.05);
    transition: 300ms;
}
