.scills_wrapper{
    background-color: rgba(255, 250, 4, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    border-bottom: 1px solid;
}
.scills{
   /* height: 400px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    align-items: center;
}
.scills_header{
    margin-bottom: 35px;
}
.scill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}