.scills_wrapper{
    background-color: rgba(250,240,150,0.86);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.scills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    align-items: center;
    background-color: rgba(250,240,200,0.86);
}
.scill{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px;
}
.scills_header{
    margin: 35px 0;
    position: relative;
    letter-spacing: 10px;
    font-size: 25px;
    font-weight: 600;
}
.scills_header:after {
    content: '';
    width: 50%;
    border: 2px solid rgba(255, 181, 16, 0.86);
    background-color: rgba(255, 181, 16, 0.86);
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    transition: 500ms;
}

