.nav_content {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 450px) {
    .nav_content{
      display: none;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    /*flex-basis: 50%;*/
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 500ms;
    padding: 6px;
}
.nav a:last-child{
    margin-right: 0;
}


.nav a:hover {
    background-color: rgba(44, 0, 230, 0.57);
    transition: 500ms;
}

.nav a:active {
    background-color: rgba(188, 65, 222, 0.84);
    transition: 100ms;
}










