.myWork {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(145, 219, 255, 0.64);
    align-items: center;
    border: 1px solid;
    width: 300px;
    flex-wrap: wrap;
    margin: 12px;
}

