.myWork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    border-radius: 4px;
    width: 270px;
    flex-wrap: wrap;
    margin: 10px;
    transition: 300ms;
    padding: 5px;
}

.myWorkHeader{
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 3px;
    flex-wrap: wrap;
    font-size: 26px;

}
.myWork_img img{
   width: 100%;
    height: 200px;
    object-fit: fill;
}
.description{
    padding: 7px;
    font-size: 16px;
    text-align: center;
}
.button{
    margin: 15px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    padding: 10px;
    border-radius: 15px;
    background-color: #faf096;
    border: 2px solid rgba(255, 181, 16, 0.86);
    transition: 200ms;
}
@media (pointer:fine) {
    .button:hover {
        border: 2px solid rgba(255, 181, 16, 0.86);
        box-shadow: 0 0 13px 1px rgba(255, 200, 16, 0.86);
        text-shadow: 0 0 15px rgba(230, 230, 16, 0.86), 0 0 5px rgba(190, 240, 16, 0.86);
    }
    .button:active{
        box-shadow: 0 0 0 0;
    }
}
