.wrapper{
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;

}


.content{
  flex-basis: 90%;
  margin: 0 auto;
}





@media screen and (max-width: 700px) {

  .content{
    flex-basis: 95%;
    margin: 0 auto;
  }
}

.item-enter{
  opacity: 0;
  transform: scale(0.9);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;

}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;

}

