.generalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250,240,150,0.86);
    padding: 30px 0;
}
.header{
    margin: 5px 0 35px;
    position: relative;
    letter-spacing: 10px;
    font-size: 25px;
    font-weight: 600;
}
.header:after{
    content: '';
    width: 50%;
    border: 2px solid rgba(255, 181, 16, 0.86);
    background-color: rgba(255, 181, 16, 0.86);
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    transition: 500ms;
}
.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    width: 90vw;
    max-width: 800px;
    background-color: rgba(250,240,200,0.86);
    padding: 20px;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.separator {
    display: block;
    width: 2px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 181, 16, 0.86);
}
.levelingBlock {
    width: 100%;
    margin: 15px 0;
}


@media (pointer:coarse) {
    .contentContainer {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 900px) {
    .contentContainer {
        flex-direction: column;
    }

    .linksContainer {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .separator {
        width: 50vw;
        height: 2px;
        margin: 35px 0;
    }
}
